In [3]:
import pandas as pd

In [29]:
def getVotingResult(df):

    optionList = ['Adaptation WITHIN Ordinary', 'Chances WITHIN Reach/Doorstep', 'Data WITHIN Users', 
                 'Decentralization WITHIN Resilience', 'Flexibility WITHIN Resilience', 'Individual WITHIN Crowd',
                 'Normality WITHIN Resilience', 'Resilience WITHIN Order', 'Space WITHIN Epidemic', 'Parking WITHIN Reach']

    # list all voters and options
    votees = list(df)
    del votees[0]
    votees

    # list all options
    options = []
    for i in range(10):
        options.append(str(i+1))

    #list all voters
    voters = [ 'A','B','C','D','E','F','G','H','I','J','K','L']

    df = df.drop(columns = ['name'])
    df['total'] = df.apply(lambda x: x.sum(), axis=1)  # count the total ballots of every voter

    for i in range(len(df)):
        df.iloc[i] = df.iloc[i]/df['total'][i]*100  # normalize the total ballots of every voter to 100

    # df1 for options, df2 for voters    
    df1 = df.iloc[:, 0:10]
    df2 = df.iloc[:,10:-1]

    df1['counts'] = df1.apply(lambda x: x.sum(), axis=1)  # calculate how many ballots every voter give to options
    df2.loc['ballots'] = df2.apply(lambda x: x.sum()) # calculate how many ballots every voter get from voters

    # calculate how many ballots every voter give to options after being weighted by the ballots from voters
    df1['realCounts'] = df1['counts']
    for i in range(len(df)):
        df1['realCounts'][i] += df2[voters[i]]['ballots']

    # calculate how many ballots every option per voter gets after being weighted by the ballots from voters    
    for i in range(len(df1)):
        for option in options:
            df1[option][i] = df1[option][i]*df1['realCounts'][i]/df1['counts'][i]

    # calculate final total ballots of every option 
    result = {}
    for option in options:
        result[option] = sum(df1[option])

    results = {}
    for i in range(len(options)):
        results[optionList[i]] = sum(df1[options[i]])

    # get the best 2 options
    btos = sorted(list(result.values()), reverse = True)
    first = list(result.values()).index(btos[0])
    second = list(result.values()).index(btos[1])
    print('The first option is: '+ optionList[first])
    print('The second option is: '+ optionList[second])
    print('===================================================')
    print('The complete results:')
    return results

In [30]:
df = pd.read_csv('./data.csv')
df

,name,1,2,3,4,5,6,7,8,9,...,C,D,E,F,G,H,I,J,K,L
0,A,85,0,0,0,55,70,0,0,0,...,99,29,99,49,49,49,79,29,79,49
1,B,0,0,0,30,100,0,90,0,0,...,0,0,0,0,0,0,0,0,0,0
2,C,100,100,100,0,100,100,0,100,100,...,0,0,100,100,0,100,0,0,100,0
3,D,80,0,70,90,90,85,0,0,0,...,100,0,100,100,0,100,0,0,100,0
4,E,83,73,86,93,71,76,93,74,57,...,0,0,0,0,0,0,0,0,0,0
5,F,0,0,0,0,0,0,0,0,50,...,0,0,30,0,90,95,0,0,30,90
6,G,80,0,0,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
7,H,50,0,0,20,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,I,90,70,0,70,65,75,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,J,0,0,0,20,0,0,40,0,40,...,0,0,0,0,0,0,0,0,0,0
10,K,20,0,0,10,0,0,40,0,0,...,0,0,0,15,0,15,0,0,0,0
11,L,0,0,35,35,0,0,0,0,0,...,10,0,10,0,10,0,0,0,0,0

In [31]:
getVotingResult(df)

The first option is: Adaptation WITHIN Ordinary
The second option is: Decentralization WITHIN Resilience
===================================================
The complete results:

{'Adaptation WITHIN Ordinary': 305.5895116973864,
 'Chances WITHIN Reach/Doorstep': 45.05116954276926,
 'Data WITHIN Users': 93.94543601344137,
 'Decentralization WITHIN Resilience': 221.91095487351026,
 'Flexibility WITHIN Resilience': 100.72829621442884,
 'Individual WITHIN Crowd': 66.38527653229008,
 'Normality WITHIN Resilience': 152.89450498741263,
 'Resilience WITHIN Order': 24.707434882381126,
 'Space WITHIN Epidemic': 92.75384401461005,
 'Parking WITHIN Reach': 96.03357124177002}

In [32]:
sum(getVotingResult(df).values())

The first option is: Adaptation WITHIN Ordinary
The second option is: Decentralization WITHIN Resilience
===================================================
The complete results:

1200.0

In [7]:
df = pd.read_csv('./votingResultsDemo.csv')
df

,name,1,2,3,4,5,6,7,8,9,...,C,D,E,F,G,H,I,J,K,L
0,A,75,44,6,66,88,99,0,5,88,...,55,6,88,8,9,34,88,99,4,77
1,B,55,6,88,8,9,34,88,99,0,...,0,5,88,3,6,66,7,9,8,1
2,C,88,8,9,99,0,5,88,4,6,...,88,6,36,66,88,12,89,66,77,88
3,D,3,55,23,44,44,6,66,88,99,...,88,12,89,8,9,44,6,2,1,88
4,E,62,88,99,0,6,88,8,9,34,...,9,44,6,99,0,6,88,5,6,36
5,F,3,5,55,22,8,9,99,0,5,...,0,6,88,6,7,8,9,99,6,89
6,G,62,88,99,6,99,0,33,66,4,...,55,8,9,88,3,45,45,12,89,6
7,H,4,75,44,99,0,5,88,3,5,...,3,45,45,99,0,66,88,44,6,88
8,I,3,55,55,34,88,99,99,0,99,...,0,66,88,99,0,5,3,6,88,9
9,J,6,99,0,5,88,4,0,5,4,...,88,8,9,34,88,99,4,8,9,45
10,K,99,0,5,44,5,34,88,99,5,...,9,99,0,5,88,4,5,45,45,88
11,L,34,88,99,33,12,5,88,4,8,...,9,99,8,9,99,7,6,66,88,9

In [8]:
votees = list(df)
del votees[0]
votees

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L']

In [9]:
options = []
for i in range(10):
    options.append(str(i+1))
    
options

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [10]:
voters = [ 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L']
voters

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L']

In [11]:
X = len(voters)
Y = len(options)
(X,Y)

(12, 10)

In [12]:
df = df.drop(columns = ['name'])
df

,1,2,3,4,5,6,7,8,9,10,...,C,D,E,F,G,H,I,J,K,L
0,75,44,6,66,88,99,0,5,88,3,...,55,6,88,8,9,34,88,99,4,77
1,55,6,88,8,9,34,88,99,0,62,...,0,5,88,3,6,66,7,9,8,1
2,88,8,9,99,0,5,88,4,6,99,...,88,6,36,66,88,12,89,66,77,88
3,3,55,23,44,44,6,66,88,99,0,...,88,12,89,8,9,44,6,2,1,88
4,62,88,99,0,6,88,8,9,34,88,...,9,44,6,99,0,6,88,5,6,36
5,3,5,55,22,8,9,99,0,5,88,...,0,6,88,6,7,8,9,99,6,89
6,62,88,99,6,99,0,33,66,4,55,...,55,8,9,88,3,45,45,12,89,6
7,4,75,44,99,0,5,88,3,5,88,...,3,45,45,99,0,66,88,44,6,88
8,3,55,55,34,88,99,99,0,99,45,...,0,66,88,99,0,5,3,6,88,9
9,6,99,0,5,88,4,0,5,4,7,...,88,8,9,34,88,99,4,8,9,45
10,99,0,5,44,5,34,88,99,5,7,...,9,99,0,5,88,4,5,45,45,88
11,34,88,99,33,12,5,88,4,8,7,...,9,99,8,9,99,7,6,66,88,9

In [13]:
df['total'] = df.apply(lambda x: x.sum(), axis=1)
df

,1,2,3,4,5,6,7,8,9,10,...,D,E,F,G,H,I,J,K,L,total
0,75,44,6,66,88,99,0,5,88,3,...,6,88,8,9,34,88,99,4,77,1041
1,55,6,88,8,9,34,88,99,0,62,...,5,88,3,6,66,7,9,8,1,829
2,88,8,9,99,0,5,88,4,6,99,...,6,36,66,88,12,89,66,77,88,1027
3,3,55,23,44,44,6,66,88,99,0,...,12,89,8,9,44,6,2,1,88,846
4,62,88,99,0,6,88,8,9,34,88,...,44,6,99,0,6,88,5,6,36,888
5,3,5,55,22,8,9,99,0,5,88,...,6,88,6,7,8,9,99,6,89,715
6,62,88,99,6,99,0,33,66,4,55,...,8,9,88,3,45,45,12,89,6,1004
7,4,75,44,99,0,5,88,3,5,88,...,45,45,99,0,66,88,44,6,88,986
8,3,55,55,34,88,99,99,0,99,45,...,66,88,99,0,5,3,6,88,9,1046
9,6,99,0,5,88,4,0,5,4,7,...,8,9,34,88,99,4,8,9,45,671
10,99,0,5,44,5,34,88,99,5,7,...,99,0,5,88,4,5,45,45,88,870
11,34,88,99,33,12,5,88,4,8,7,...,99,8,9,99,7,6,66,88,9,794

In [14]:
for i in range(len(df)):
    df.iloc[i] = df.iloc[i]/df['total'][i]*100
    
df

,1,2,3,4,5,6,7,8,9,10,...,D,E,F,G,H,I,J,K,L,total
0,7.204611,4.226705,0.576369,6.340058,8.453410,9.510086,0.000000,0.480307,8.453410,0.288184,...,0.576369,8.453410,0.768492,0.864553,3.266090,8.453410,9.510086,0.384246,7.396734,100
1,6.634499,0.723764,10.615199,0.965018,1.085645,4.101327,10.615199,11.942099,0.000000,7.478890,...,0.603136,10.615199,0.361882,0.723764,7.961399,0.844391,1.085645,0.965018,0.120627,100
2,8.568647,0.778968,0.876339,9.639727,0.000000,0.486855,8.568647,0.389484,0.584226,9.639727,...,0.584226,3.505355,6.426485,8.568647,1.168452,8.666018,6.426485,7.497566,8.568647,100
3,0.354610,6.501182,2.718676,5.200946,5.200946,0.709220,7.801418,10.401891,11.702128,0.000000,...,1.418440,10.520095,0.945626,1.063830,5.200946,0.709220,0.236407,0.118203,10.401891,100
4,6.981982,9.909910,11.148649,0.000000,0.675676,9.909910,0.900901,1.013514,3.828829,9.909910,...,4.954955,0.675676,11.148649,0.000000,0.675676,9.909910,0.563063,0.675676,4.054054,100
5,0.419580,0.699301,7.692308,3.076923,1.118881,1.258741,13.846154,0.000000,0.699301,12.307692,...,0.839161,12.307692,0.839161,0.979021,1.118881,1.258741,13.846154,0.839161,12.447552,100
6,6.175299,8.764940,9.860558,0.597610,9.860558,0.000000,3.286853,6.573705,0.398406,5.478088,...,0.796813,0.896414,8.764940,0.298805,4.482072,4.482072,1.195219,8.864542,0.597610,100
7,0.405680,7.606491,4.462475,10.040568,0.000000,0.507099,8.924949,0.304260,0.507099,8.924949,...,4.563895,4.563895,10.040568,0.000000,6.693712,8.924949,4.462475,0.608519,8.924949,100
8,0.286807,5.258126,5.258126,3.250478,8.413002,9.464627,9.464627,0.000000,9.464627,4.302103,...,6.309751,8.413002,9.464627,0.000000,0.478011,0.286807,0.573614,8.413002,0.860421,100
9,0.894188,14.754098,0.000000,0.745156,13.114754,0.596125,0.000000,0.745156,0.596125,1.043219,...,1.192250,1.341282,5.067064,13.114754,14.754098,0.596125,1.192250,1.341282,6.706408,100
10,11.379310,0.000000,0.574713,5.057471,0.574713,3.908046,10.114943,11.379310,0.574713,0.804598,...,11.379310,0.000000,0.574713,10.114943,0.459770,0.574713,5.172414,5.172414,10.114943,100
11,4.282116,11.083123,12.468514,4.156171,1.511335,0.629723,11.083123,0.503778,1.007557,0.881612,...,12.468514,1.007557,1.133501,12.468514,0.881612,0.755668,8.312343,11.083123,1.133501,100

In [15]:
df1 = df.iloc[:, 0:10]
df2 = df.iloc[:,10:-1]

In [16]:
df1

,1,2,3,4,5,6,7,8,9,10
0,7.204611,4.226705,0.576369,6.340058,8.453410,9.510086,0.000000,0.480307,8.453410,0.288184
1,6.634499,0.723764,10.615199,0.965018,1.085645,4.101327,10.615199,11.942099,0.000000,7.478890
2,8.568647,0.778968,0.876339,9.639727,0.000000,0.486855,8.568647,0.389484,0.584226,9.639727
3,0.354610,6.501182,2.718676,5.200946,5.200946,0.709220,7.801418,10.401891,11.702128,0.000000
4,6.981982,9.909910,11.148649,0.000000,0.675676,9.909910,0.900901,1.013514,3.828829,9.909910
5,0.419580,0.699301,7.692308,3.076923,1.118881,1.258741,13.846154,0.000000,0.699301,12.307692
6,6.175299,8.764940,9.860558,0.597610,9.860558,0.000000,3.286853,6.573705,0.398406,5.478088
7,0.405680,7.606491,4.462475,10.040568,0.000000,0.507099,8.924949,0.304260,0.507099,8.924949
8,0.286807,5.258126,5.258126,3.250478,8.413002,9.464627,9.464627,0.000000,9.464627,4.302103
9,0.894188,14.754098,0.000000,0.745156,13.114754,0.596125,0.000000,0.745156,0.596125,1.043219
10,11.379310,0.000000,0.574713,5.057471,0.574713,3.908046,10.114943,11.379310,0.574713,0.804598
11,4.282116,11.083123,12.468514,4.156171,1.511335,0.629723,11.083123,0.503778,1.007557,0.881612

In [17]:
df2

,A,B,C,D,E,F,G,H,I,J,K,L
0,5.283381,4.226705,5.283381,0.576369,8.453410,0.768492,0.864553,3.266090,8.453410,9.510086,0.384246,7.396734
1,10.615199,11.942099,0.000000,0.603136,10.615199,0.361882,0.723764,7.961399,0.844391,1.085645,0.965018,0.120627
2,0.000000,0.486855,8.568647,0.584226,3.505355,6.426485,8.568647,1.168452,8.666018,6.426485,7.497566,8.568647
3,0.591017,7.801418,10.401891,1.418440,10.520095,0.945626,1.063830,5.200946,0.709220,0.236407,0.118203,10.401891
4,11.148649,0.900901,1.013514,4.954955,0.675676,11.148649,0.000000,0.675676,9.909910,0.563063,0.675676,4.054054
5,0.559441,13.846154,0.000000,0.839161,12.307692,0.839161,0.979021,1.118881,1.258741,13.846154,0.839161,12.447552
6,5.478088,7.669323,5.478088,0.796813,0.896414,8.764940,0.298805,4.482072,4.482072,1.195219,8.864542,0.597610
7,0.304260,8.924949,0.304260,4.563895,4.563895,10.040568,0.000000,6.693712,8.924949,4.462475,0.608519,8.924949
8,0.573614,9.464627,0.000000,6.309751,8.413002,9.464627,0.000000,0.478011,0.286807,0.573614,8.413002,0.860421
9,8.196721,0.894188,13.114754,1.192250,1.341282,5.067064,13.114754,14.754098,0.596125,1.192250,1.341282,6.706408
10,10.114943,0.919540,1.034483,11.379310,0.000000,0.574713,10.114943,0.459770,0.574713,5.172414,5.172414,10.114943
11,1.007557,1.007557,1.133501,12.468514,1.007557,1.133501,12.468514,0.881612,0.755668,8.312343,11.083123,1.133501

In [18]:
df1['counts'] = df1.apply(lambda x: x.sum(), axis=1)
df1

,1,2,3,4,5,6,7,8,9,10,counts
0,7.204611,4.226705,0.576369,6.340058,8.453410,9.510086,0.000000,0.480307,8.453410,0.288184,45.533141
1,6.634499,0.723764,10.615199,0.965018,1.085645,4.101327,10.615199,11.942099,0.000000,7.478890,54.161641
2,8.568647,0.778968,0.876339,9.639727,0.000000,0.486855,8.568647,0.389484,0.584226,9.639727,39.532619
3,0.354610,6.501182,2.718676,5.200946,5.200946,0.709220,7.801418,10.401891,11.702128,0.000000,50.591017
4,6.981982,9.909910,11.148649,0.000000,0.675676,9.909910,0.900901,1.013514,3.828829,9.909910,54.279279
5,0.419580,0.699301,7.692308,3.076923,1.118881,1.258741,13.846154,0.000000,0.699301,12.307692,41.118881
6,6.175299,8.764940,9.860558,0.597610,9.860558,0.000000,3.286853,6.573705,0.398406,5.478088,50.996016
7,0.405680,7.606491,4.462475,10.040568,0.000000,0.507099,8.924949,0.304260,0.507099,8.924949,41.683570
8,0.286807,5.258126,5.258126,3.250478,8.413002,9.464627,9.464627,0.000000,9.464627,4.302103,55.162524
9,0.894188,14.754098,0.000000,0.745156,13.114754,0.596125,0.000000,0.745156,0.596125,1.043219,32.488823
10,11.379310,0.000000,0.574713,5.057471,0.574713,3.908046,10.114943,11.379310,0.574713,0.804598,44.367816
11,4.282116,11.083123,12.468514,4.156171,1.511335,0.629723,11.083123,0.503778,1.007557,0.881612,47.607053

In [19]:
df2.loc['ballots'] = df2.apply(lambda x: x.sum())
df2

,A,B,C,D,E,F,G,H,I,J,K,L
0,5.283381,4.226705,5.283381,0.576369,8.453410,0.768492,0.864553,3.266090,8.453410,9.510086,0.384246,7.396734
1,10.615199,11.942099,0.000000,0.603136,10.615199,0.361882,0.723764,7.961399,0.844391,1.085645,0.965018,0.120627
2,0.000000,0.486855,8.568647,0.584226,3.505355,6.426485,8.568647,1.168452,8.666018,6.426485,7.497566,8.568647
3,0.591017,7.801418,10.401891,1.418440,10.520095,0.945626,1.063830,5.200946,0.709220,0.236407,0.118203,10.401891
4,11.148649,0.900901,1.013514,4.954955,0.675676,11.148649,0.000000,0.675676,9.909910,0.563063,0.675676,4.054054
5,0.559441,13.846154,0.000000,0.839161,12.307692,0.839161,0.979021,1.118881,1.258741,13.846154,0.839161,12.447552
6,5.478088,7.669323,5.478088,0.796813,0.896414,8.764940,0.298805,4.482072,4.482072,1.195219,8.864542,0.597610
7,0.304260,8.924949,0.304260,4.563895,4.563895,10.040568,0.000000,6.693712,8.924949,4.462475,0.608519,8.924949
8,0.573614,9.464627,0.000000,6.309751,8.413002,9.464627,0.000000,0.478011,0.286807,0.573614,8.413002,0.860421
9,8.196721,0.894188,13.114754,1.192250,1.341282,5.067064,13.114754,14.754098,0.596125,1.192250,1.341282,6.706408
10,10.114943,0.919540,1.034483,11.379310,0.000000,0.574713,10.114943,0.459770,0.574713,5.172414,5.172414,10.114943
11,1.007557,1.007557,1.133501,12.468514,1.007557,1.133501,12.468514,0.881612,0.755668,8.312343,11.083123,1.133501
ballots,53.872868,68.084316,46.332518,45.686820,62.299576,55.535708,48.196829,47.140720,45.462023,52.576155,45.962751,71.327337

In [21]:
df1['realCounts'] = df1['counts']
for i in range(len(df)):
    df1['realCounts'][i] += df2[voters[i]]['ballots']
    
df1

,1,2,3,4,5,6,7,8,9,10,counts,realCounts
0,7.204611,4.226705,0.576369,6.340058,8.453410,9.510086,0.000000,0.480307,8.453410,0.288184,45.533141,99.406009
1,6.634499,0.723764,10.615199,0.965018,1.085645,4.101327,10.615199,11.942099,0.000000,7.478890,54.161641,122.245956
2,8.568647,0.778968,0.876339,9.639727,0.000000,0.486855,8.568647,0.389484,0.584226,9.639727,39.532619,85.865137
3,0.354610,6.501182,2.718676,5.200946,5.200946,0.709220,7.801418,10.401891,11.702128,0.000000,50.591017,96.277836
4,6.981982,9.909910,11.148649,0.000000,0.675676,9.909910,0.900901,1.013514,3.828829,9.909910,54.279279,116.578856
5,0.419580,0.699301,7.692308,3.076923,1.118881,1.258741,13.846154,0.000000,0.699301,12.307692,41.118881,96.654589
6,6.175299,8.764940,9.860558,0.597610,9.860558,0.000000,3.286853,6.573705,0.398406,5.478088,50.996016,99.192845
7,0.405680,7.606491,4.462475,10.040568,0.000000,0.507099,8.924949,0.304260,0.507099,8.924949,41.683570,88.824289
8,0.286807,5.258126,5.258126,3.250478,8.413002,9.464627,9.464627,0.000000,9.464627,4.302103,55.162524,100.624547
9,0.894188,14.754098,0.000000,0.745156,13.114754,0.596125,0.000000,0.745156,0.596125,1.043219,32.488823,85.064977
10,11.379310,0.000000,0.574713,5.057471,0.574713,3.908046,10.114943,11.379310,0.574713,0.804598,44.367816,90.330568
11,4.282116,11.083123,12.468514,4.156171,1.511335,0.629723,11.083123,0.503778,1.007557,0.881612,47.607053,118.934390

In [22]:
for i in range(len(df1)):
    for option in options:
        df1[option][i] = df1[option][i]*df1['realCounts'][i]/df1['counts'][i]
df1

,1,2,3,4,5,6,7,8,9,10,counts,realCounts
0,15.728799,9.227562,1.258304,13.841343,18.455124,20.762015,0.000000,1.048587,18.455124,0.629152,45.533141,99.406009
1,14.974449,1.633576,23.959118,2.178102,2.450364,9.256932,23.959118,26.954008,0.000000,16.880288,54.161641,122.245956
2,18.611163,1.691924,1.903414,20.937558,0.000000,1.057452,18.611163,0.845962,1.268943,20.937558,39.532619,85.865137
3,0.674845,12.372152,5.173809,9.897722,9.897722,1.349689,14.846582,19.795443,22.269873,0.000000,50.591017,96.277836
4,14.995620,21.284106,23.944620,0.000000,1.451189,21.284106,1.934919,2.176784,8.223405,21.284106,54.279279,116.578856
5,0.986271,1.643786,18.081641,7.232656,2.630057,2.958814,32.546953,0.000000,1.643786,28.930625,41.118881,96.654589
6,12.011634,17.048770,19.179867,1.162416,19.179867,0.000000,6.393289,12.786578,0.774944,10.655481,50.996016,99.192845
7,0.864470,16.208812,9.509170,21.395632,0.000000,1.080587,19.018339,0.648352,1.080587,19.018339,41.683570,88.824289
8,0.523178,9.591595,9.591595,5.929349,15.346551,17.264870,17.264870,0.000000,17.264870,7.847668,55.162524,100.624547
9,2.341238,38.630425,0.000000,1.951032,34.338156,1.560825,0.000000,1.951032,1.560825,2.731444,32.488823,85.064977
10,23.167684,0.000000,1.170085,10.296749,1.170085,7.956578,20.593497,23.167684,1.170085,1.638119,44.367816,90.330568
11,10.697802,27.688429,31.149483,10.383161,3.775695,1.573206,27.688429,1.258565,2.517130,2.202489,47.607053,118.934390

In [23]:
result = {}
for option in options:
    result[option] = sum(df1[option])
    
result

{'1': 115.57715314103655,
 '2': 157.02113762511397,
 '3': 144.92110517824472,
 '4': 105.20571918680028,
 '5': 108.69480964095115,
 '6': 86.1050763927556,
 '7': 182.85716076418692,
 '8': 90.63299455934295,
 '9': 76.22957267761029,
 '10': 132.75527083395755}

In [24]:
btos = sorted(list(result.values()), reverse = True)
btos

[182.85716076418692,
 157.02113762511397,
 144.92110517824472,
 132.75527083395755,
 115.57715314103655,
 108.69480964095115,
 105.20571918680028,
 90.63299455934295,
 86.1050763927556,
 76.22957267761029]

In [25]:
first = list(result.values()).index(btos[0])
second = list(result.values()).index(btos[1])

In [26]:
optionList = ['Adaptation WITHIN Ordinary', 'Chances WITHIN Reach/Doorstep', 'Data WITHIN Users', 
             'Decentralization WITHIN Resilience', 'Flexibility WITHIN Resilience', 'Individual WITHIN Crowd',
             'Normality WITHIN Resilience', 'Resilience WITHIN Order', 'Space WITHIN Epidemic', 'Transit WITHIN ...']